In [15]:
import json
import pandas as pd
import pathlib as pl

In [20]:
with open("C:\\Users\\paulcassidy\\OneDrive - Archdiocese of Chicago\\Documents\\Repos\\QBO_Integration_Scripts\\SampleCaptures\\ProfitAndLoss.json") as f:
    data = json.load(f)
    print(type(data))

<class 'dict'>

In [6]:
path = "C:\\Users\\paulcassidy\\OneDrive - Archdiocese of Chicago\\Documents\\Repos\\QBO_Integration_Scripts\\SampleCaptures\\ProfitAndLoss.json"
data_pd = pd.read_json(path)
data_pd.head()

                                Header Columns Rows
Time         2021-06-07T12:55:08-07:00     NaN  NaN
ReportName               ProfitAndLoss     NaN  NaN
DateMacro     this fiscal year-to-date     NaN  NaN
ReportBasis                    Accrual     NaN  NaN
StartPeriod                 2020-07-01     NaN  NaN

In [ ]:
# dct = []
# for i in json_tweets.loc

In [10]:
g = []
def print_dict(v, prefix=''):
    if isinstance(v, dict):
        for k, v2 in v.items():
            p2 = f"{prefix}.{k}"
            print_dict(v2, p2)
    elif isinstance(v, list):
        for i, v2 in enumerate(v):
            p2 = f"{prefix}{i}"
            print_dict(v2, p2)
    else:
        g.append([f"{prefix}", v])
        
    return g

In [8]:
dct = []
for i in data_pd:
    dct.append([i])

In [11]:
print_dict(dct)

[['00', 'Header'], ['10', 'Columns'], ['20', 'Rows']]

In [14]:
def find_idx_keys_or_vals(dct):
    idx_keys=[]
    idx_vals=[]
    
    for j in print_dict(dct):
        idx_keys.append(j[0].split(".",1)) # split on first occurance of (.)
        idx_vals.append((j[0].split(".")[0],j[1]))
        
    return idx_keys, idx_vals

idx_keys = find_idx_keys_or_vals(dct)[0]


idx_vals = find_idx_keys_or_vals(dct)[1]

print("Index with key:", idx_keys[:4])
print("--------------------------")
print("Index with values:", idx_vals[:4])

Index with key: [['00'], ['10'], ['20'], ['00']]
--------------------------
Index with values: [('00', 'Header'), ('10', 'Columns'), ('20', 'Rows'), ('00', 'Header')]

In [19]:
p = "C:\\Users\\paulcassidy\\OneDrive - Archdiocese of Chicago\\Documents\\JSON_Parsing\\nested_header.json"
with open(p) as f:
    f = json.load(f)
    
f

{'Header': {'Time': '2021-06-07T12:55:08-07:00',
  'ReportName': 'ProfitAndLoss',
  'DateMacro': 'this fiscal year-to-date',
  'ReportBasis': 'Accrual',
  'StartPeriod': '2020-07-01',
  'EndPeriod': '2021-06-07',
  'SummarizeColumnsBy': 'Total',
  'Currency': 'USD',
  'Option': [{'Name': 'AccountingStandard', 'Value': 'GAAP'},
   {'Name': 'NoReportData', 'Value': 'false'}]}}

In [ ]:
def fetch_default(org, folder, prefix):
    dfs = []
    for c in range(1, totalCount, 1000):
        queryargs = { 'query': 'SELECT * FROM {0} STARTPOSITION {1} MAXRESULTS 1000'.format(org, c) }
        url = preurl + urlencode(queryargs)
        response = requests.post(url, headers=reqheaders)
        print(response.status_code)
        rawdata = json.loads(response.content)
        dfs.append(pandas.json_normalize(rawdata['QueryResponse'][org]))
    finaldf = pandas.concat(dfs)
    finaldf['RealmId'] = [realmid] * len(finaldf)
    finaldf.to_csv("{0}/{1}.csv".format(folder, prefix), index=False)

In [21]:
# def parse_profit_loss(f):
#     dfs = []
#     dfs.append(pd.json_normalize(f))
#     finaldf = pandas.concat(dfs)
#     finaldf['RealmId'] = ["bruh"] * len(finaldf)
#     finaldf.to_csv("C:\\Users\\paulcassidy\\OneDrive - Archdiocese of Chicago\\Documents\\JSON_Parsing\\parse_profit_loss.csv")

In [23]:
# parse_profit_loss(data)

In [24]:
pd.read_json("p_l_test.json").head()

                                                        Header Rows Columns
Customer                                                     1  NaN     NaN
ReportName                                       ProfitAndLoss  NaN     NaN
Option       [{'Name': 'AccountingStandard', 'Value': 'GAAP...  NaN     NaN
ReportBasis                                            Accrual  NaN     NaN
StartPeriod                                         2015-06-01  NaN     NaN

In [37]:
with open("C:\\Users\\paulcassidy\\OneDrive - Archdiocese of Chicago\\Documents\\Repos\\QBO_Integration_Scripts\\SampleCaptures\\ProfitAndLoss.json") as f:
    json.loads(f)

TypeError: the JSON object must be str, bytes or bytearray, not TextIOWrapper