In [2]:
import json
import pandas as pd

In [4]:
with open("PaL_Excerpt.json") as f:
    data = json.load(f)

In [5]:
a = pd.json_normalize(data)
a

                                            Rows.Row
0  [{'Header': {'ColData': [{'value': 'Income'}, ...

In [8]:
b_row = pd.json_normalize(a['Rows.Row'][0])
b_row

,Header.ColData,Rows.Row
0,"[{'value': 'Income'}, {'value': ''}]",[{'ColData': [{'value': '3000 Sunday and Holy ...

In [10]:
pd.json_normalize(b_row['Header.ColData'][0])

    value
0  Income
1

In [11]:
c_row_0 = pd.json_normalize(b_row['Rows.Row'][0])
c_row_0

,ColData,Rows.Row
0,[{'value': '3000 Sunday and Holy Day Collectio...,[{'ColData': [{'value': '3011 Sunday Collectio...

In [89]:
c_col_data_0 = pd.json_normalize(c_row_0['ColData'][0])
c_col_data_0

                                  value   id
0  3000 Sunday and Holy Day Collections  107
1                                225.00  NaN

In [12]:
d_row_0 = pd.json_normalize(c_row_0['Rows.Row'][0])
d_row_0

,ColData,Rows.Row
0,"[{'value': '3011 Sunday Collection', 'id': '10...",[{'ColData': [{'value': '3012 Sunday Collectio...
1,NaN,[{'ColData': [{'value': '3016 Holy Day Collect...

In [13]:
e_row_0 = pd.json_normalize(d_row_0['Rows.Row'][0])
e_row_0

,ColData,Rows.Row
0,"[{'value': '3012 Sunday Collection Envelopes',...",NaN
1,[{'value': '3013 Sunday Collection Loose Ck/Ca...,[{'ColData': [{'value': '3013.1 Counting Error...
2,"[{'value': '3014 Sunday Collections E-Giving',...",NaN

In [15]:
f_row_1 = pd.json_normalize(e_row_0['Rows.Row'][1])
f_row_1

                                             ColData
0  [{'value': '3013.1 Counting Error', 'id': '692...

In [93]:
f_col_data_0 = pd.json_normalize(f_row_1['ColData'][0])
f_col_data_0

                   value   id
0  3013.1 Counting Error  692
1                 452.45  NaN