In [1]:
import pandas as pd
import json

with open("ProfitAndLoss.json") as f:
    rawdata = json.load(f)

In [2]:
type(pd.json_normalize(rawdata))

pandas.core.frame.DataFrame

In [ ]:
type(child_2_0_h['value'])

In [ ]:
type(child_2_0_h.iloc[0])

In [ ]:
def check_col(data):
    """
    Find the data.
    """
    ## 
    # abstract normalizing for each column case
    ##
    global child_count
    if isinstance(data, pandas.core.frame.DataFrame): # check if already normalized to df
        if 'type' in data and data['type'] == 'data': # will always be coldata, always df 
            # iterate through rows
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['ColData'][row])
                    acc_name = row_norm['value'][0]
                    acc_id   = row_norm['id'][0]
                    acc_val  = row_norm['value'][1]
                    child_count += 1
                    
                    ##### add all of these to df, list, dict??
                except:
                    pass
        elif 'Header.ColData' in data:
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['Header.ColData'][row])
                    if isinstance(row_norm, pandas.core.frame.DataFrame) and 'id' not in row_norm:
                        continue
                    elif isinstance(row_norm, pandas.core.frame.DataFrame): 
                        acc_name = row_norm['value'][0]
                        acc_id   = row_norm['id'][0]
                        acc_val  = row_norm['value'][1]
                        df       = pd.DataFrame([acc_name, acc_id, acc_val],
                                               columns=['AccountName',
                                                       'AccountID',
                                                       'AccountValue'])
                    # it if is just one row with account value
                    elif isinstance(row_norm, pandas.core.series.Series):
                        acc_name = row_norm['value'][0]
                        acc_id   = row_norm['id'][0]
                        acc_val  = row_norm['value'][1]
                        df       = pd.DataFrame([acc_name, acc_id, acc_val],
                                               columns=['AccountName',
                                                       'AccountID',
                                                       'AccountValue'])
                        # add row_norm['value'] to df, list, dict?
                except:
                    continue
            elif 
                # if it is just one row with account name

In [3]:
child_0 = pd.json_normalize(rawdata)
child_0

,Header.Time,Header.ReportName,Header.DateMacro,Header.ReportBasis,Header.StartPeriod,Header.EndPeriod,Header.SummarizeColumnsBy,Header.Currency,Header.Option,Columns.Column,Rows.Row
0,2021-06-07T12:55:08-07:00,ProfitAndLoss,this fiscal year-to-date,Accrual,2020-07-01,2021-06-07,Total,USD,"[{'Name': 'AccountingStandard', 'Value': 'GAAP...","[{'ColTitle': '', 'ColType': 'Account', 'MetaD...","[{'Header': {'ColData': [{'value': 'Income'}, ..."

In [40]:
pd.json_normalize(child_0)

AttributeError: 'str' object has no attribute 'values'

In [41]:
pd.json_normalize(child_1['ColData'])

KeyError: 'ColData'

In [12]:
child_1 = pd.json_normalize(child_0['Rows.Row'][0])
child_1

,type,group,Header.ColData,Rows.Row,Summary.ColData
0,Section,Income,"[{'value': 'Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '3000 Sunda...,"[{'value': 'Total Income'}, {'value': '6036637..."
1,Section,GrossProfit,NaN,NaN,"[{'value': 'Gross Profit'}, {'value': '6036637..."
2,Section,Expenses,"[{'value': 'Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '4010 Salar...,"[{'value': 'Total Expenses'}, {'value': '55455..."
3,Section,NetOperatingIncome,NaN,NaN,"[{'value': 'Net Operating Income'}, {'value': ..."
4,Section,OtherIncome,"[{'value': 'Other Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '5000 Insur...,"[{'value': 'Total Other Income'}, {'value': '7..."
5,Section,OtherExpenses,"[{'value': 'Other Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '6010 Share...,"[{'value': 'Total Other Expenses'}, {'value': ..."
6,Section,NetOtherIncome,NaN,NaN,"[{'value': 'Net Other Income'}, {'value': '-17..."
7,Section,NetIncome,NaN,NaN,"[{'value': 'Net Income'}, {'value': '473846.67'}]"

In [13]:
child_2_0_h = pd.json_normalize(child_1['Header.ColData'][0])
child_2_0_h

    value
0  Income
1

In [14]:
child_2_0_r = pd.json_normalize(child_1['Rows.Row'][0])
child_2_0_r

,type,Header.ColData,Rows.Row,Summary.ColData,ColData
0,Section,[{'value': '3000 Sunday and Holy Day Collectio...,[{'Header': {'ColData': [{'value': '3011 Sunda...,[{'value': 'Total 3000 Sunday and Holy Day Col...,NaN
1,Data,NaN,NaN,NaN,"[{'value': '3020 Christmas Collection', 'id': ..."
2,Data,NaN,NaN,NaN,"[{'value': '3030 Easter Collection', 'id': '11..."
3,Section,"[{'value': '3040 Other Collections', 'id': '11...",[{'ColData': [{'value': '3042 Flowers Collecti...,"[{'value': 'Total 3040 Other Collections'}, {'...",NaN
4,Section,"[{'value': '3100 Tuition', 'id': '392'}, {'val...",[{'ColData': [{'value': '3101 Tuition - Curren...,"[{'value': 'Total 3100 Tuition'}, {'value': '3...",NaN
5,Section,"[{'value': '3110 Fees', 'id': '28'}, {'value':...",[{'ColData': [{'value': '3111 Registration Fee...,"[{'value': 'Total 3110 Fees'}, {'value': '4753...",NaN
6,Section,"[{'value': '3300 Food Services', 'id': '36'}, ...",[{'ColData': [{'value': '3301 School Meal Prog...,"[{'value': 'Total 3300 Food Services'}, {'valu...",NaN
7,Section,"[{'value': '3350 Lease and/or Rental Income', ...","[{'ColData': [{'value': '3351 Facility Lease',...",[{'value': 'Total 3350 Lease and/or Rental Inc...,NaN
8,Section,"[{'value': '3400 Outside Funding Sources', 'id...",[{'Header': {'ColData': [{'value': '3407 Other...,[{'value': 'Total 3400 Outside Funding Sources...,NaN
9,Section,"[{'value': '3450 Fund Raising Net Income', 'id...",[{'Header': {'ColData': [{'value': '3461 St. J...,[{'value': 'Total 3450 Fund Raising Net Income...,NaN
10,Section,[{'value': '3500 Interest & Investment Income'...,[{'ColData': [{'value': '3501 Interest-Arch Re...,[{'value': 'Total 3500 Interest & Investment I...,NaN
11,Section,"[{'value': '3600 Auxiliary Groups', 'id': '149...",[{'Header': {'ColData': [{'value': '3603 St Fr...,"[{'value': 'Total 3600 Auxiliary Groups'}, {'v...",NaN
12,Section,"[{'value': '3700 Miscellaneous Income', 'id': ...",[{'Header': {'ColData': [{'value': '3701 Stole...,"[{'value': 'Total 3700 Miscellaneous Income'},...",NaN

In [43]:
child_3_1_c = pd.json_normalize(child_2_0_r['ColData'][1])
child_3_1_c
type(child_3_1_c)

pandas.core.series.Series

In [19]:
child_3_0_h = pd.json_normalize(child_2_0_r['Header.ColData'][0])
child_3_0_h

                                  value   id
0  3000 Sunday and Holy Day Collections  107
1                                225.00  NaN

In [26]:
child_3_0_r = pd.json_normalize(child_2_0_r['Rows.Row'][0])
child_3_0_r

,type,Header.ColData,Rows.Row,Summary.ColData
0,Section,"[{'value': '3011 Sunday Collection', 'id': '10...",[{'ColData': [{'value': '3012 Sunday Collectio...,"[{'value': 'Total 3011 Sunday Collection'}, {'..."
1,Section,"[{'value': '3015 Holy Day Collection', 'id': '...",[{'ColData': [{'value': '3016 Holy Day Collect...,"[{'value': 'Total 3015 Holy Day Collection'}, ..."

In [28]:
child_4_0_h = pd.json_normalize(child_3_0_r['Header.ColData'][0])
child_4_0_h

                    value   id
0  3011 Sunday Collection  108
1                          NaN

In [36]:
child_4_0_h.iloc[1]['value']
type(child_4_0_h.iloc[1]['value'])

str

In [ ]:
print(child_3_0_h.iloc[0]['value'])
type(child_3_0_h.iloc[0]['value'])

In [20]:
row = child_3_0_h.iloc[0]

In [21]:
row['value']

'3000 Sunday and Holy Day Collections'

In [ ]:
type(row['value'])

In [22]:
type(child_3_0_h.iloc[1]['value'])

str

In [38]:
acc_name = "row_norm['value'][0]"
acc_id   = "row_norm['id'][0]"
acc_val  = "row_norm['value'][1]"

dict(acc_name)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

if you find another level of nesting, just concat what you just did with a bigger list