In [11]:
import pandas as pd
import json
import time

In [10]:
with open("ProfitAndLoss.json") as f:
    data = json.load(f)
    
pd.read_json("ProfitAndLoss.json").head()

                                Header Columns Rows
Time         2021-06-07T12:55:08-07:00     NaN  NaN
ReportName               ProfitAndLoss     NaN  NaN
DateMacro     this fiscal year-to-date     NaN  NaN
ReportBasis                    Accrual     NaN  NaN
StartPeriod                 2020-07-01     NaN  NaN

# Four Ways to Convert Nested JSON to Data Frame
- First Use: `pandas.read_json`, then you have options
    - 1<sup>st</sup>: convert data time, then create a new data frame
    - 2<sup>nd</sup>: use `pandas.json_normalize` directly
    - 3<sup>rd</sup>: iterate and enter nested outer to inner
    - 4<sup>th</sup>: list comprehension

# read_json

In [34]:
df  = pd.read_json("ProfitAndLoss.json")
hd  = pd.DataFrame(df.Header.values.tolist())
col = pd.DataFrame(df.Columns.values.tolist())
row = pd.DataFrame(df.Rows.values.tolist())
# df.Header.values
# df.Columns.values
df.Rows.values
# pd.DataFrame.from_records(row).head()
pd.DataFrame.from_records(col).head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

# json_normalize

# Iterate

In [36]:
f = []
for i in data['Rows']:
    f.append(i['Header'])
pd.DataFrame(f).head()

TypeError: string indices must be integers