In [6]:
import pandas as pd
import json

In [ ]:
# base case: 
## whenever there is no more Rows.Row to normalize

In [15]:
child_count = 0

def profit_and_loss(rawdata):
    for child in child_count:
        child_df = normalize(data['Rows.Row'][{row_num}])
        child_count += 1
        if not 'Rows.Row' in child_df:
            if 'Header.ColData' in child_df:
                for row in rows: # best way to iterate through rows?
                    child_row = normalize(data['Header.ColData'][{row}])
                    if child_row[1]['value'] == 0:
                        pass
                    else:
                        # add account name, account Id, and value to df
            elif data has column 'ColData':
                for row in rows:
                    child_row = normalize(data['ColData'][{row}]
                    # add account name, account Id, and value to df
        else:
                profit_and_loss(data)
            
# how to keep track of which child level we are at?

IndentationError: expected an indented block (<ipython-input-15-d3f170de2199>, line 17)

In [7]:
with open("ProfitAndLoss.json") as f:
    rawdata = json.load(f)

In [54]:
child_count = 0

def normalize_and_print(data):
    global child_count
    child_count += 1
    child = pd.json_normalize(rawdata)
    print(child)
    print(child_count)

In [55]:
normalize_and_print(rawdata)

                 Header.Time Header.ReportName          Header.DateMacro  \
0  2021-06-07T12:55:08-07:00     ProfitAndLoss  this fiscal year-to-date

  Header.ReportBasis Header.StartPeriod Header.EndPeriod  \
0            Accrual         2020-07-01       2021-06-07

  Header.SummarizeColumnsBy Header.Currency  \
0                     Total             USD

                                       Header.Option  \
0  [{'Name': 'AccountingStandard', 'Value': 'GAAP...

                                      Columns.Column  \
0  [{'ColTitle': '', 'ColType': 'Account', 'MetaD...

                                            Rows.Row
0  [{'Header': {'ColData': [{'value': 'Income'}, ...
1

In [58]:
type(pd.json_normalize(rawdata))

pandas.core.frame.DataFrame

In [81]:
type(child_2_0_h['value'])

pandas.core.series.Series

In [85]:
type(child_2_0_h.iloc[0])

pandas.core.series.Series

In [ ]:
child_count = 0

def normalize(data):
    # scope child_count to global
    global child_count
    if isinstance(data, pandas.core.frame.DataFrame): # check if already normalized to df
        if 'type' in data and data['type'] == 'data':
            for row in data.shape[0]:
                
        if 'type' in data and data['type'] == 'section':
            for row in data.shape[0]:
                if 'Header.ColData' in data:
                    row_norm = pd.json_normalize(data['Header.ColData'][row])
                # if it is just one row with account name
                # if isinstance (row_norm, pandas.core.series.Series) and row_norm['id'] != 'NaN': 
                if 'id' not in row_norm:
                    continue # skip by useless column header
                elif row_norm['id'] != 'NaN': 
                    acc_name = row_norm['value']
                    acc_id   = row_norm['id']
                    # add row_norm['value'] to df, list, dict?
                    # add row_norm['id'] to df, list, dict?
                # it if is just one row with account value
                else:
                    acc_val  = row_norm['value']
                    # add row_norm['value'] to df, list, dict?
                    
                    
                    
                    
    elif isinstance (data, pandas.core.series.Series): # if in loop
        
                
                child_row = normalize(data['Header.ColData'][{row}])
                if child_row[1]['value'] == 0:
                    pass
                else:
                        # add account name, account Id, and value to df

In [ ]:
def check_col(data):
    """
    Find the data.
    """
    ## 
    # abstract normalizing for each column case
    ##
    global child_count
    if isinstance(data, pandas.core.frame.DataFrame): # check if already normalized to df
        if 'type' in data and data['type'] == 'data': # will always be coldata, always df 
            # iterate through rows
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['ColData'][row])
                    acc_name = row_norm['value'][0]
                    acc_id   = row_norm['id'][0]
                    acc_val  = row_norm['value'][1]
                    
                    ##### add all of these to df, list, dict??
                except:
                    continue
        elif 'Header.ColData' in data:
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['Header.ColData'][row])
                except:
                    continue
                # if it is just one row with account name
                else:
                    if isinstance (row_norm, pandas.core.series.Series) and row_norm['id'] != 'NaN': 
                        acc_name = row_norm['value']
                        acc_id   = row_norm['id']
                        # add row_norm['value'] to df, list, dict?
                        # add row_norm['id'] to df, list, dict?
                    # it if is just one row with account value
                    elif instance(row_norm, pandas.core.series.Series):
                        acc_val  = row_norm['value']
                        # add row_norm['value'] to df, list, dict?
                    else isinstance(row_norm, pandas.core.frame.DataFrame):

In [60]:
parent = pd.json_normalize(rawdata)
parent

,Header.Time,Header.ReportName,Header.DateMacro,Header.ReportBasis,Header.StartPeriod,Header.EndPeriod,Header.SummarizeColumnsBy,Header.Currency,Header.Option,Columns.Column,Rows.Row
0,2021-06-07T12:55:08-07:00,ProfitAndLoss,this fiscal year-to-date,Accrual,2020-07-01,2021-06-07,Total,USD,"[{'Name': 'AccountingStandard', 'Value': 'GAAP...","[{'ColTitle': '', 'ColType': 'Account', 'MetaD...","[{'Header': {'ColData': [{'value': 'Income'}, ..."

In [63]:
child_0 = pd.json_normalize(parent['Rows.Row'][0])
child_0

,type,group,Header.ColData,Rows.Row,Summary.ColData
0,Section,Income,"[{'value': 'Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '3000 Sunda...,"[{'value': 'Total Income'}, {'value': '6036637..."
1,Section,GrossProfit,NaN,NaN,"[{'value': 'Gross Profit'}, {'value': '6036637..."
2,Section,Expenses,"[{'value': 'Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '4010 Salar...,"[{'value': 'Total Expenses'}, {'value': '55455..."
3,Section,NetOperatingIncome,NaN,NaN,"[{'value': 'Net Operating Income'}, {'value': ..."
4,Section,OtherIncome,"[{'value': 'Other Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '5000 Insur...,"[{'value': 'Total Other Income'}, {'value': '7..."
5,Section,OtherExpenses,"[{'value': 'Other Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '6010 Share...,"[{'value': 'Total Other Expenses'}, {'value': ..."
6,Section,NetOtherIncome,NaN,NaN,"[{'value': 'Net Other Income'}, {'value': '-17..."
7,Section,NetIncome,NaN,NaN,"[{'value': 'Net Income'}, {'value': '473846.67'}]"

In [103]:
child_1_1_h = pd.json_normalize(child_0['Header.ColData'][1])

TypeError: 'float' object is not iterable

In [104]:
child_1_0_h = pd.json_normalize(child_0['Header.ColData'][0])

In [68]:
child_1_0_h = pd.json_normalize(child_0['Header.ColData'][0])
child_1_0_h

    value
0  Income
1

In [105]:
child_1_0_r = pd.json_normalize(child_0['Rows.Row'][0])
child_1_0_r

,type,Header.ColData,Rows.Row,Summary.ColData,ColData
0,Section,[{'value': '3000 Sunday and Holy Day Collectio...,[{'Header': {'ColData': [{'value': '3011 Sunda...,[{'value': 'Total 3000 Sunday and Holy Day Col...,NaN
1,Data,NaN,NaN,NaN,"[{'value': '3020 Christmas Collection', 'id': ..."
2,Data,NaN,NaN,NaN,"[{'value': '3030 Easter Collection', 'id': '11..."
3,Section,"[{'value': '3040 Other Collections', 'id': '11...",[{'ColData': [{'value': '3042 Flowers Collecti...,"[{'value': 'Total 3040 Other Collections'}, {'...",NaN
4,Section,"[{'value': '3100 Tuition', 'id': '392'}, {'val...",[{'ColData': [{'value': '3101 Tuition - Curren...,"[{'value': 'Total 3100 Tuition'}, {'value': '3...",NaN
5,Section,"[{'value': '3110 Fees', 'id': '28'}, {'value':...",[{'ColData': [{'value': '3111 Registration Fee...,"[{'value': 'Total 3110 Fees'}, {'value': '4753...",NaN
6,Section,"[{'value': '3300 Food Services', 'id': '36'}, ...",[{'ColData': [{'value': '3301 School Meal Prog...,"[{'value': 'Total 3300 Food Services'}, {'valu...",NaN
7,Section,"[{'value': '3350 Lease and/or Rental Income', ...","[{'ColData': [{'value': '3351 Facility Lease',...",[{'value': 'Total 3350 Lease and/or Rental Inc...,NaN
8,Section,"[{'value': '3400 Outside Funding Sources', 'id...",[{'Header': {'ColData': [{'value': '3407 Other...,[{'value': 'Total 3400 Outside Funding Sources...,NaN
9,Section,"[{'value': '3450 Fund Raising Net Income', 'id...",[{'Header': {'ColData': [{'value': '3461 St. J...,[{'value': 'Total 3450 Fund Raising Net Income...,NaN
10,Section,[{'value': '3500 Interest & Investment Income'...,[{'ColData': [{'value': '3501 Interest-Arch Re...,[{'value': 'Total 3500 Interest & Investment I...,NaN
11,Section,"[{'value': '3600 Auxiliary Groups', 'id': '149...",[{'Header': {'ColData': [{'value': '3603 St Fr...,"[{'value': 'Total 3600 Auxiliary Groups'}, {'v...",NaN
12,Section,"[{'value': '3700 Miscellaneous Income', 'id': ...",[{'Header': {'ColData': [{'value': '3701 Stole...,"[{'value': 'Total 3700 Miscellaneous Income'},...",NaN

In [107]:
child_2_1_c = pd.json_normalize(child_1_0_r['ColData'][1])
child_2_1_c

                       value   id
0  3020 Christmas Collection  110
1                  350328.00  NaN

In [101]:
child_2_0_h = pd.json_normalize(child_1_0_r['Header.ColData'][0])
print(child_2_0_h)
print(type(child_2_0_h))
print(type(child_2_0_h['value'][1]))

                                  value   id
0  3000 Sunday and Holy Day Collections  107
1                                225.00  NaN
<class 'pandas.core.frame.DataFrame'>
<class 'str'>

In [80]:
child_1_0_r.shape

(13, 5)

In [94]:
print(child_2_0_h.iloc[0])
type(child_2_0_h.iloc[0])

value    3000 Sunday and Holy Day Collections
id                                        107
Name: 0, dtype: object

pandas.core.series.Series

In [95]:
print(child_2_0_h.iloc[0]['value'])
type(child_2_0_h.iloc[0]['value'])

3000 Sunday and Holy Day Collections

str

In [88]:
row = child_2_0_h.iloc[0]

In [89]:
row['value']

'3000 Sunday and Holy Day Collections'

In [90]:
type(row['value'])

str

In [91]:
type(child_2_0_h.iloc[1]['value'])

str

if you find another level of nesting, just concat what you just did with a bigger list