In [1]:
import pandas as pd
import json

with open("ProfitAndLoss.json") as f:
    rawdata = json.load(f)

In [2]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        # print(data.shape[0])
        for row in range(data.shape[0]):
                if 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        parse_json(row_data)
                    except:
                        continue
                elif 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # HERE
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue

### Let's run the actual code

In [3]:
parse_json(rawdata)

3013.1 Counting Error, 692, 452.45
3016 Holy Day Collection Envelopes, 281, 5408.00
3017 Holy Day Collect. Loose Ck/Cash, 280, 568.00
3042 Flowers Collection, 558, 1173.00
3043 School Support Collection, 282, 140.00
3045 Almsgiving, 369, 5828.00
3101 Tuition - Current, 698, 3014281.05
3102 Tuition - Prior, 648, 30883.00
3125A 3rd Party Rev., 658, 216.00
3125B 3rd Party Exp, 612, 5440.00
3301 School Meal Program, 37, 413.00
3351 Facility Lease, 595, 45900.00
3352 Facility Rental, 630, 200.00
3407.01 Tax Credit Scholarship, 358, 65526.50
3461.03 SJS Annual Fund Drive, 678, 1515.00
3462.01 SFXS Annual School Appeal, 650, 2000.00
3501 Interest-Arch Regular Savings, 41, 1646.24
3502 Interest-Arch Cert of Deposit, 42, 671.46
3503 Interest-Arch Building Fund, 43, 2146.75
3504 Invest. Gains/Losses Arch Endow, 44, 548814.09
3505 Invest. Gains/Loss Arch Spc Inv, 147, 23768.66
3506 Interest-Checking Accounts, 148, 46.03
3507 Other Interest Account, 45, 212.75
3603.02 SFX Men's Club, 460, 23300.38
3603.10 SFXS Home School Organization, 464, 61270.00
3701.10 Baptism, 263, 2310.00
3701.20 Funeral, 508, 17075.00
3701.30 Wedding, 509, 14355.00
4011 Priests, 638, 95672.51
4012 Extra Priests, 576, 2998.50
4014 Professional Staff, 672, 254442.99
4015 Admin Support Staff - Church, 397, 260213.91
4016 House Staff, 580, 18738.50
4017 Maintenance - Church, 396, 99515.51
4511 Administrators & Othr Schl Prof, 639, 187866.32
4512 Religious Teachers, 577, 6366.45
4513 Lay Teachers, 690, 978663.38
4514 Special Program Teachers, 578, 500598.51
4515 Instructional Aides, 640, 293617.53
4516 Substitute Teachers, 579, 67765.46
4517 Support Staff - School, 673, 206864.71
4518 Maintenance Staff - School, 641, 101043.27
4052 Fringe Benefits - Lay, 186, 82431.62
4061 Professional Growth, 189, 14202.86
4062 Ministerial Expense Allowance, 568, 1247.50
4063 Unemployment Compensation, 581, 8967.00
4102 Offertory Supplies, 169, 480.23
4103 Books and Magazines, 170, 4362.62
4105 Textbooks, 561, 19909.81
4106 Workbooks, 688, 22371.51
4107 Library Materials, 562, 1778.29
4109 Instructional Materials, 563, 58384.85
4110 Instructional Software, 187, 18647.84
4151 Ofc Equipment-Supplies & Maint., 47, 14325.78
4152 Outside Printing Cost, 48, 20296.63
4153 Postage/Courier Services, 49, 4745.59
4154 Office Supplies, 50, 9787.12
4155 Professional Service Fees, 51, 138121.38
4156 Computer Supplies, 185, 25801.46
4157 Criminal Background Checks, 52, 1801.23
4158 Bank Fees, 386, 38553.67
4159 Other Administrative Expense, 420, 73.50
4201 Local Travel/Reimbursement, 162, 60.89
4252 Food/Groceries, 56, 14456.82
4253 Meal Allowance, 57, 3906.06
4254 Catering, 58, 968.71
4431 Water/Sewer, 63, 17200.07
4432 Scavenger Service, 64, 8210.37
4433 Cable/Dish Services, 65, 3547.77
4434 Internet/Computer Telecom Costs, 66, 7303.98
4451 Security, 68, 24729.00
4452 Ground Services, 69, 64338.89
4453 Ground Supplies, 70, 1699.18
4454 Building Services, 71, 45461.95
4455 Repairs to Buildings, 115, 86243.24
4456 Equipment Services, 116, 14684.21
4457 Equipment Rental, 117, -182.18
4459 Janitorial Supplies, 118, 30597.21
4555 Bingo Hall Rental, 372, 900.00
4601 Interest Expense Oper. Loans, 378, 4768.60
4651 Hosts and Wine, 121, 960.49
4653 Candles, 123, 1786.10
4656 Music Books, 126, 464.49
4657 Liturgical Publications, 129, 1465.58
4659 Flowers, 130, 3283.85
4660 Other Liturgical Costs, 127, 1317.72
4701 Admin Furnishings/Equip, 132, 27765.58
4702 Instructional Furnishings/Equip, 133, 189206.17
4703 Maintenance Furnishings/Equip, 134, 4633.76
4751 Archhdiocesean Assesment, 253, 177788.16
4752 Lease, Lic & Rental Arch Assess, 254, 4171.50
4820A Credit Card Expense - Needs Det, 361, -5838.83
5001 Casualty Claims, 220, 9560.00
5011.1 St. VIncent de Paul, 516, 45309.00
5012.02 St. Ignatius, 424, 14002.00
5013.01 St. Thomas of Canterbury, 421, 46138.00
5016C IC Secial Fundraising, 547, 40000.00
5031 Latin America, 81, 1401.00
5032 Seminaries, 87, 3035.00
5033 Annual Catholic Appeal, 82, -1132.00
5034 Holy Land, 83, 120.00
5035 Aid Churches Centl/East Europe, 86, 1785.00
5036 Catholic Charities, 84, 2060.00
5037 Peter's Pence, 85, 755.00
5039 World Mission Sunday, 88, 2148.00
5040 Cath Campaign for Human Develop, 89, 5240.00
5041 Religious Retirement, 90, 5066.00
5042 Missionary CO-OP Plan, 218, 940.00
5044 Archdiocesan Priest Retirement, 297, 3060.00
5052 Bequests Proceeds, 204, 20000.00
5053 Memorial Proceeds, 205, 2070.00
5061 Other Extraordinary Collections, 207, 255.00
5065 Other Extraordinary Income, 427, 201413.98
5115.01 St Joseph TTWCI Campaign, 430, 17044.50
5115.02 St Francis Xavier TTWCI Campagn, 431, 107071.91
5122 Church Building Fund, 77, 206170.63
6011.01 St. Vincent de Paul, 517, 48253.00
6012.02 St. Ignatius, 702, 500.00
6013.01 St. Thomas of Canterbury, 616, 57767.50
6016A IC Normal School Support, 542, 23509.93
6016B IC Special School Support, 543, 57035.00
6016C IC Parish Support, 544, 4060.00
6016D IT Superintendent Support, 545, 3000.00
6016E Scholorships, 555, 14306.00
6031 Latin America, 172, 485.00
6032 Seminaries, 178, 2945.00
6034 Holy Land, 174, 1245.00
6035 Aid Churches Centl/East Europe, 177, 6072.00
6036 Catholic Charities, 175, 4671.52
6037 Peter's Pence, 176, 3143.00
6039 World Mission Sunday, 179, 2218.00
6040 Cath Campaign for Human Develop, 180, 4665.00
6041 Religious Retirement, 181, 1863.42
6044 Archdiocesan Priest Retirement, 296, 7160.00
6061 Real Estate Taxes, 193, 6098.01
6063 Other Extraordinary Expenses, 637, 352688.99
6064 Prior Year Adjustments, 309, -107155.37
6112.01 SJ Church Sound System Upgrade, 661, 957.81
6112.02 Church Lighting Project, 594, 21425.40
6112.06 School Security, 627, 33304.30
6112.07 SJ Parking lot project, 628, 8329.89
6112.08 Church Masonry, 629, 9270.00
6113.02 SFX Church Improvements, 512, 168418.05
6113.03 SFX Church Carpet, 515, 50000.00
6113.04 SFX Parking lot project, 554, 4356.66
6113.05 Church Masonry, 557, 6590.00

Oh my stars! It actually does something right! It's not all the data though... let's figure out what it got and what it missed.

<span style="color:blue">*(another note: the code did exactly what I thought it would do based on stepping through it up above. so that's a partial win!)*</span>

So what it does is  
- it keeps normalizing when it finds a rows.row in a data frame, and will only print out the column data when it has reach the last Rows.Row. Which makse sense from the code
- also, it doesn't seem to go "back up to the top?"  to then do it again? I'll try to show what I mean.

### Troubleshooting

What do we want it to do? Do we want it to:
- go down the rabbit hole first, then come back out, then go down a different rabbit hole?
- or just get everything as we go deeper and deeper?

Let's try the latter option first.   
Let's swith the order of ColData and Rows.Row

In [5]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # HERE
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue
                elif 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        parse_json(row_data)
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue

In [6]:
parse_json(rawdata)

3020 Christmas Collection, 110, 350328.00
3030 Easter Collection, 111, 750.00
4030 Health Insurance-Employer Paid, 163, 524972.00
4040 Employer FICA, 164, 226912.54
4400 Telephone, 60, 10050.32
4410 Heating Fuel, 61, 32037.55
4420 Electricity, 62, 50452.71
4760 PRMAA Assessment, 145, 62225.82
4770 OCS Assessment, 146, 26055.00
4780 Property/Casualty Insurance, 390, 153969.53
4790 Auto Insur-Priest Owned Vehicle, 72, 3855.00
5001 Casualty Claims, 220, 9560.00
5011.1 St. VIncent de Paul, 516, 45309.00
5012.02 St. Ignatius, 424, 14002.00
5013.01 St. Thomas of Canterbury, 421, 46138.00
5017 Haiti-Rodlin, 248, 4202.95
5031 Latin America, 81, 1401.00
5032 Seminaries, 87, 3035.00
5033 Annual Catholic Appeal, 82, -1132.00
5034 Holy Land, 83, 120.00
5035 Aid Churches Centl/East Europe, 86, 1785.00
5036 Catholic Charities, 84, 2060.00
5037 Peter's Pence, 85, 755.00
5039 World Mission Sunday, 88, 2148.00
5040 Cath Campaign for Human Develop, 89, 5240.00
5041 Religious Retirement, 90, 5066.00
5042 Missionary CO-OP Plan, 218, 940.00
5044 Archdiocesan Priest Retirement, 297, 3060.00
5052 Bequests Proceeds, 204, 20000.00
5053 Memorial Proceeds, 205, 2070.00
5061 Other Extraordinary Collections, 207, 255.00
5065 Other Extraordinary Income, 427, 201413.98
5112 Parish Endow Fund Collection, 223, -7625.00
5113 Parish Ed. Endow Fund Collect, 221, 10860.97
5114 Annual Appeal Rebate, 160, 23516.90
5122 Church Building Fund, 77, 206170.63
6011.01 St. Vincent de Paul, 517, 48253.00
6012.02 St. Ignatius, 702, 500.00
6013.01 St. Thomas of Canterbury, 616, 57767.50
6017 Haiti Fr. Rodlin, 251, 8000.00
6031 Latin America, 172, 485.00
6032 Seminaries, 178, 2945.00
6034 Holy Land, 174, 1245.00
6035 Aid Churches Centl/East Europe, 177, 6072.00
6036 Catholic Charities, 175, 4671.52
6037 Peter's Pence, 176, 3143.00
6039 World Mission Sunday, 179, 2218.00
6040 Cath Campaign for Human Develop, 180, 4665.00
6041 Religious Retirement, 181, 1863.42
6044 Archdiocesan Priest Retirement, 296, 7160.00
6061 Real Estate Taxes, 193, 6098.01
6063 Other Extraordinary Expenses, 637, 352688.99
6064 Prior Year Adjustments, 309, -107155.37
6112.01 SJ Church Sound System Upgrade, 661, 957.81
6112.02 Church Lighting Project, 594, 21425.40
6112.06 School Security, 627, 33304.30
6112.07 SJ Parking lot project, 628, 8329.89
6112.08 Church Masonry, 629, 9270.00
6113.02 SFX Church Improvements, 512, 168418.05
6113.03 SFX Church Carpet, 515, 50000.00
6113.04 SFX Parking lot project, 554, 4356.66
6113.05 Church Masonry, 557, 6590.00

**hmmm** we get a lot less data that way. the first two are the ColData from the 3rd data frame:

In [10]:
df1 = pd.json_normalize(rawdata)
df2 = pd.json_normalize(df1['Rows.Row'][0])
df3 = pd.json_normalize(df2['Rows.Row'][0])
df3_c1 = pd.json_normalize(df3['ColData'][1])
df3_c2 = pd.json_normalize(df3['ColData'][2])

In [11]:
df3

,type,Header.ColData,Rows.Row,Summary.ColData,ColData
0,Section,[{'value': '3000 Sunday and Holy Day Collectio...,[{'Header': {'ColData': [{'value': '3011 Sunda...,[{'value': 'Total 3000 Sunday and Holy Day Col...,NaN
1,Data,NaN,NaN,NaN,"[{'value': '3020 Christmas Collection', 'id': ..."
2,Data,NaN,NaN,NaN,"[{'value': '3030 Easter Collection', 'id': '11..."
3,Section,"[{'value': '3040 Other Collections', 'id': '11...",[{'ColData': [{'value': '3042 Flowers Collecti...,"[{'value': 'Total 3040 Other Collections'}, {'...",NaN
4,Section,"[{'value': '3100 Tuition', 'id': '392'}, {'val...",[{'ColData': [{'value': '3101 Tuition - Curren...,"[{'value': 'Total 3100 Tuition'}, {'value': '3...",NaN
5,Section,"[{'value': '3110 Fees', 'id': '28'}, {'value':...",[{'ColData': [{'value': '3111 Registration Fee...,"[{'value': 'Total 3110 Fees'}, {'value': '4753...",NaN
6,Section,"[{'value': '3300 Food Services', 'id': '36'}, ...",[{'ColData': [{'value': '3301 School Meal Prog...,"[{'value': 'Total 3300 Food Services'}, {'valu...",NaN
7,Section,"[{'value': '3350 Lease and/or Rental Income', ...","[{'ColData': [{'value': '3351 Facility Lease',...",[{'value': 'Total 3350 Lease and/or Rental Inc...,NaN
8,Section,"[{'value': '3400 Outside Funding Sources', 'id...",[{'Header': {'ColData': [{'value': '3407 Other...,[{'value': 'Total 3400 Outside Funding Sources...,NaN
9,Section,"[{'value': '3450 Fund Raising Net Income', 'id...",[{'Header': {'ColData': [{'value': '3461 St. J...,[{'value': 'Total 3450 Fund Raising Net Income...,NaN
10,Section,[{'value': '3500 Interest & Investment Income'...,[{'ColData': [{'value': '3501 Interest-Arch Re...,[{'value': 'Total 3500 Interest & Investment I...,NaN
11,Section,"[{'value': '3600 Auxiliary Groups', 'id': '149...",[{'Header': {'ColData': [{'value': '3603 St Fr...,"[{'value': 'Total 3600 Auxiliary Groups'}, {'v...",NaN
12,Section,"[{'value': '3700 Miscellaneous Income', 'id': ...",[{'Header': {'ColData': [{'value': '3701 Stole...,"[{'value': 'Total 3700 Miscellaneous Income'},...",NaN

In [12]:
df3_c1

                       value   id
0  3020 Christmas Collection  110
1                  350328.00  NaN

In [13]:
df3_c2

                    value   id
0  3030 Easter Collection  111
1                  750.00  NaN

Where does "4030 Health Insurance-Employer Paid, 163, 524972.00" come from?

Instead of trying to figure this out every time, I think I should write some print statements to show where we are. I'll code that now

In [44]:
global count
count = 0
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        print("Initialize Dataframe\n")
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # count += 1
                        print(f"Norm by ColData, row {row}")
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                    except:
                        continue
                elif 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Norm by Rows.Row, row {row}\n")
                        parse_json(row_data)
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Norm by Header.ColData, row {row}")
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue

In [45]:
parse_json(rawdata)

Initialize Dataframe

Norm by Rows.Row, row 0

Norm by Rows.Row, row 0

Norm by ColData, row 1
**Data: 3020 Christmas Collection, 110, 350328.00

Norm by ColData, row 2
**Data: 3030 Easter Collection, 111, 750.00

Norm by Rows.Row, row 2

Norm by ColData, row 1
**Data: 4030 Health Insurance-Employer Paid, 163, 524972.00

Norm by ColData, row 2
**Data: 4040 Employer FICA, 164, 226912.54

Norm by ColData, row 9
**Data: 4400 Telephone, 60, 10050.32

Norm by ColData, row 10
**Data: 4410 Heating Fuel, 61, 32037.55

Norm by ColData, row 11
**Data: 4420 Electricity, 62, 50452.71

Norm by ColData, row 19
**Data: 4760 PRMAA Assessment, 145, 62225.82

Norm by ColData, row 20
**Data: 4770 OCS Assessment, 146, 26055.00

Norm by ColData, row 21
**Data: 4780 Property/Casualty Insurance, 390, 153969.53

Norm by ColData, row 22
**Data: 4790 Auto Insur-Priest Owned Vehicle, 72, 3855.00

Norm by Rows.Row, row 4

Norm by Rows.Row, row 0

Norm by ColData, row 0
**Data: 5001 Casualty Claims, 220, 9560.00

Norm by Rows.Row, row 1

Norm by Rows.Row, row 0

Norm by ColData, row 0
**Data: 5011.1 St. VIncent de Paul, 516, 45309.00

Norm by Rows.Row, row 1

Norm by ColData, row 0
**Data: 5012.02 St. Ignatius, 424, 14002.00

Norm by Rows.Row, row 2

Norm by ColData, row 0
**Data: 5013.01 St. Thomas of Canterbury, 421, 46138.00

Norm by Rows.Row, row 2

Norm by ColData, row 1
**Data: 5017 Haiti-Rodlin, 248, 4202.95

Norm by Rows.Row, row 3

Norm by ColData, row 0
**Data: 5031 Latin America, 81, 1401.00

Norm by ColData, row 1
**Data: 5032 Seminaries, 87, 3035.00

Norm by ColData, row 2
**Data: 5033 Annual Catholic Appeal, 82, -1132.00

Norm by ColData, row 3
**Data: 5034 Holy Land, 83, 120.00

Norm by ColData, row 4
**Data: 5035 Aid Churches Centl/East Europe, 86, 1785.00

Norm by ColData, row 5
**Data: 5036 Catholic Charities, 84, 2060.00

Norm by ColData, row 6
**Data: 5037 Peter's Pence, 85, 755.00

Norm by ColData, row 7
**Data: 5039 World Mission Sunday, 88, 2148.00

Norm by ColData, row 8
**Data: 5040 Cath Campaign for Human Develop, 89, 5240.00

Norm by ColData, row 9
**Data: 5041 Religious Retirement, 90, 5066.00

Norm by ColData, row 10
**Data: 5042 Missionary CO-OP Plan, 218, 940.00

Norm by ColData, row 11
**Data: 5044 Archdiocesan Priest Retirement, 297, 3060.00

Norm by Rows.Row, row 4

Norm by ColData, row 0
**Data: 5052 Bequests Proceeds, 204, 20000.00

Norm by ColData, row 1
**Data: 5053 Memorial Proceeds, 205, 2070.00

Norm by Rows.Row, row 5

Norm by ColData, row 0
**Data: 5061 Other Extraordinary Collections, 207, 255.00

Norm by ColData, row 1
**Data: 5065 Other Extraordinary Income, 427, 201413.98

Norm by Rows.Row, row 6

Norm by ColData, row 0
**Data: 5112 Parish Endow Fund Collection, 223, -7625.00

Norm by ColData, row 1
**Data: 5113 Parish Ed. Endow Fund Collect, 221, 10860.97

Norm by ColData, row 2
**Data: 5114 Annual Appeal Rebate, 160, 23516.90

Norm by Rows.Row, row 7

Norm by ColData, row 0
**Data: 5122 Church Building Fund, 77, 206170.63

Norm by Rows.Row, row 5

Norm by Rows.Row, row 0

Norm by Rows.Row, row 0

Norm by ColData, row 0
**Data: 6011.01 St. Vincent de Paul, 517, 48253.00

Norm by Rows.Row, row 1

Norm by ColData, row 0
**Data: 6012.02 St. Ignatius, 702, 500.00

Norm by Rows.Row, row 2

Norm by ColData, row 0
**Data: 6013.01 St. Thomas of Canterbury, 616, 57767.50

Norm by Rows.Row, row 1

Norm by ColData, row 1
**Data: 6017 Haiti Fr. Rodlin, 251, 8000.00

Norm by Rows.Row, row 2

Norm by ColData, row 0
**Data: 6031 Latin America, 172, 485.00

Norm by ColData, row 1
**Data: 6032 Seminaries, 178, 2945.00

Norm by ColData, row 2
**Data: 6034 Holy Land, 174, 1245.00

Norm by ColData, row 3
**Data: 6035 Aid Churches Centl/East Europe, 177, 6072.00

Norm by ColData, row 4
**Data: 6036 Catholic Charities, 175, 4671.52

Norm by ColData, row 5
**Data: 6037 Peter's Pence, 176, 3143.00

Norm by ColData, row 6
**Data: 6039 World Mission Sunday, 179, 2218.00

Norm by ColData, row 7
**Data: 6040 Cath Campaign for Human Develop, 180, 4665.00

Norm by ColData, row 8
**Data: 6041 Religious Retirement, 181, 1863.42

Norm by ColData, row 9
**Data: 6044 Archdiocesan Priest Retirement, 296, 7160.00

Norm by Rows.Row, row 3

Norm by ColData, row 0
**Data: 6061 Real Estate Taxes, 193, 6098.01

Norm by ColData, row 1
**Data: 6063 Other Extraordinary Expenses, 637, 352688.99

Norm by ColData, row 2
**Data: 6064 Prior Year Adjustments, 309, -107155.37

Norm by Rows.Row, row 4

Norm by Rows.Row, row 0

Norm by ColData, row 0
**Data: 6112.01 SJ Church Sound System Upgrade, 661, 957.81

Norm by ColData, row 1
**Data: 6112.02 Church Lighting Project, 594, 21425.40

Norm by ColData, row 2
**Data: 6112.06 School Security, 627, 33304.30

Norm by ColData, row 3
**Data: 6112.07 SJ Parking lot project, 628, 8329.89

Norm by ColData, row 4
**Data: 6112.08 Church Masonry, 629, 9270.00

Norm by Rows.Row, row 1

Norm by ColData, row 0
**Data: 6113.02 SFX Church Improvements, 512, 168418.05

Norm by ColData, row 1
**Data: 6113.03 SFX Church Carpet, 515, 50000.00

Norm by ColData, row 2
**Data: 6113.04 SFX Parking lot project, 554, 4356.66

Norm by ColData, row 3
**Data: 6113.05 Church Masonry, 557, 6590.00

Let's see what happens if I put header.coldata before rows.row

In [46]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        print("Initialize Dataframe\n")
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # count += 1
                        print(f"Norm by ColData, row {row}")
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Norm by Header.ColData, row {row}")
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue
                elif 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Norm by Rows.Row, row {row}\n")
                        parse_json(row_data)
                    except:
                        continue

In [47]:
parse_json(rawdata)

Initialize Dataframe

Norm by Rows.Row, row 0

Norm by Header.ColData, row 0
Norm by Header.ColData, row 2
Norm by Header.ColData, row 4
Norm by Header.ColData, row 5

There aren't recursions in this. I wonder where I can put them. like in the Header.ColData block, it just has the iterations, no recursions. and the ColData one doesn't have recursions either.  
I'm going to add `parse_json(col_data)` and `parse_json(head_data)`

In [54]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        print("Initialize Dataframe\n")
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # count += 1
                        print(f"Norm by ColData, row {row}")
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                        parse_json(col_data)
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Norm by Header.ColData, row {row}")
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                            parse_json(head_data)
                    except:
                        continue
                elif 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Norm by Rows.Row, row {row}\n")
                        parse_json(row_data)
                    except:
                        continue

In [55]:
parse_json(rawdata)

Initialize Dataframe

Norm by Rows.Row, row 0

Norm by Header.ColData, row 0
Norm by Header.ColData, row 2
Norm by Header.ColData, row 4
Norm by Header.ColData, row 5

Nothing changed...

add a recursion in the `if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue`

In [106]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        print("Initialize Dataframe\n")
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # count += 1
                        print(f"Norm by ColData, row {row}")
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                        parse_json(col_data)
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Norm by Header.ColData, row {row}")
                        # print(head_data)
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                           # print("got to the id block")
                            parse_json(head_data)
                        else: 
                            print("got to the assignment block")
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                            parse_json(head_data)
                    except TypeError:
                        print(f"Bypassed row {row}") # show when a NaN value ot bypassed
                elif 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Norm by Rows.Row, row {row}\n")
                        parse_json(row_data)
                    except:
                        continue

In [107]:
parse_json(rawdata)

Initialize Dataframe

Norm by Rows.Row, row 0

Norm by Header.ColData, row 0
Bypassed row 1
Norm by Header.ColData, row 2
Bypassed row 3
Norm by Header.ColData, row 4
Norm by Header.ColData, row 5
Bypassed row 6
Bypassed row 7

some more stuff

In [138]:
df_count = 0

def parse_json(data):
    global df_count
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        df_count += 1
        print(f"Initializing DataFrame No. {df_count}...\n")
        print("RECURSION")
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0]):
                if 'ColData' in data:
                    # print("Normalizing ColData...")
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # count += 1
                        print(f"ColData, df {df_count}, row {row}")
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                        #print("RECURSION")
                        #parse_json(col_data)
                    except:
                        print(f"ColData: Bypassed row {row}") # show when a NaN value ot bypassed
                        continue
                elif 'Header.ColData' in data:
                    # print("Normalizing Header.ColData...")
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Header.ColData, df {df_count}, row {row}")
                        # print(head_data)
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                           # print("got to the id block")
                            head_data = pd.json_normalize(data['Rows.Row'][row])
                            print("RECURSION")
                            parse_json(head_data)
                        else: 
                            print("got to the assignment block")
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                            print("RECURSION")
                            parse_json(head_data)
                    except TypeError:
                        print(f"Header.ColData: Bypassed row {row}") # show when a NaN value ot bypassed
                        continue
                elif 'Rows.Row' in data:
                    df_count += 1
                    # print(f"Normalizing Rows.Row, entering DataFrame No. {df_count}...")
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Rows.Row, df {df_count}r, row {row}\n")
                        print("RECURSION")
                        parse_json(row_data)
                    except:
                        continue

In [139]:
parse_json(rawdata)

Initializing DataFrame No. 1...

RECURSION
Rows.Row, df 2, row 0

RECURSION
Header.ColData, df 2, row 0
RECURSION
ColData: Bypassed row 0
ColData, df 2, row 1
**Data: 3020 Christmas Collection, 110, 350328.00

ColData, df 2, row 2
**Data: 3030 Easter Collection, 111, 750.00

ColData: Bypassed row 3
ColData: Bypassed row 4
ColData: Bypassed row 5
ColData: Bypassed row 6
ColData: Bypassed row 7
ColData: Bypassed row 8
ColData: Bypassed row 9
ColData: Bypassed row 10
ColData: Bypassed row 11
ColData: Bypassed row 12
Header.ColData: Bypassed row 1
Header.ColData, df 2, row 2
RECURSION
ColData: Bypassed row 0
ColData, df 2, row 1
**Data: 4030 Health Insurance-Employer Paid, 163, 524972.00

ColData, df 2, row 2
**Data: 4040 Employer FICA, 164, 226912.54

ColData: Bypassed row 3
ColData: Bypassed row 4
ColData: Bypassed row 5
ColData: Bypassed row 6
ColData: Bypassed row 7
ColData: Bypassed row 8
ColData, df 2, row 9
**Data: 4400 Telephone, 60, 10050.32

ColData, df 2, row 10
**Data: 4410 Heating Fuel, 61, 32037.55

ColData, df 2, row 11
**Data: 4420 Electricity, 62, 50452.71

ColData: Bypassed row 12
ColData: Bypassed row 13
ColData: Bypassed row 14
ColData: Bypassed row 15
ColData: Bypassed row 16
ColData: Bypassed row 17
ColData: Bypassed row 18
ColData, df 2, row 19
**Data: 4760 PRMAA Assessment, 145, 62225.82

ColData, df 2, row 20
**Data: 4770 OCS Assessment, 146, 26055.00

ColData, df 2, row 21
**Data: 4780 Property/Casualty Insurance, 390, 153969.53

ColData, df 2, row 22
**Data: 4790 Auto Insur-Priest Owned Vehicle, 72, 3855.00

ColData: Bypassed row 23
Header.ColData: Bypassed row 3
Header.ColData, df 2, row 4
RECURSION
Header.ColData, df 2, row 0
got to the assignment block
**Data:5000 Insurance Recoveries, 75,
RECURSION
Header.ColData, df 2, row 1
got to the assignment block
**Data:5010 Sharing Collections Oth Parish, 79,
RECURSION
Header.ColData, df 2, row 2
got to the assignment block
**Data:5015 Sharing Collections Outside AOC, 247,
RECURSION
Header.ColData, df 2, row 3
got to the assignment block
**Data:5030 Arch Required Collections, 80,
RECURSION
Header.ColData, df 2, row 4
got to the assignment block
**Data:5050 Estates, Bequests & Memorials, 92,
RECURSION
Header.ColData, df 2, row 5
got to the assignment block
**Data:5060 Other Extraordinary Income, 206,
RECURSION
Header.ColData, df 2, row 6
got to the assignment block
**Data:5110 Fund Collections, 76,
RECURSION
Header.ColData, df 2, row 7
got to the assignment block
**Data:5120 Capital Collections, 73,
RECURSION
Header.ColData, df 2, row 5
RECURSION
Header.ColData, df 2, row 0
got to the assignment block
**Data:6010 Share Collect Pay to Oth Parish, 212,
RECURSION
Header.ColData, df 2, row 1
got to the assignment block
**Data:6015 Sharing Outside the AOC, 250,
RECURSION
Header.ColData, df 2, row 2
got to the assignment block
**Data:6030 Pymt Arch Required Collections, 171,
RECURSION
Header.ColData, df 2, row 3
got to the assignment block
**Data:6060 Other Extraordinary Expenses, 183, 327.72
RECURSION
Header.ColData, df 2, row 4
got to the assignment block
**Data:6110 Capital Improvements, 210,
RECURSION
Header.ColData: Bypassed row 6
Header.ColData: Bypassed row 7

this is getting too complicated

In [ ]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        for row in range(data.shape[0] + 1):
                if 'ColData' in data:
                    try:
                        # normalize data frame
                        col_data = pd.json_normalize(data['ColData'][row])
                        # assign and print values
                        acc_name = col_data['value'][0]
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"**Data: {acc_name}, {acc_id}, {acc_val}\n")
                    except:
                        # handle NaN cells
                        print(f"ColData: Bypassed row {row}")
                    try:
                        data = pd.json_normalize(data['Rows.Row'][row-data.shape[0]])
                elif 'Header.ColData' in data:
                    # print("Normalizing Header.ColData...")
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        print(f"Header.ColData, df {df_count}, row {row}")
                        # print(head_data)
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                           # print("got to the id block")
                            head_data = pd.json_normalize(data['Rows.Row'][row])
                            print("RECURSION")
                            parse_json(head_data)
                        else: 
                            print("got to the assignment block")
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"**Data:{acc_name}, {acc_id}, {acc_val}")
                            print("RECURSION")
                            parse_json(head_data)
                    except TypeError:
                        print(f"Header.ColData: Bypassed row {row}") # show when a NaN value ot bypassed
                        continue
                elif 'Rows.Row' in data:
                    df_count += 1
                    # print(f"Normalizing Rows.Row, entering DataFrame No. {df_count}...")
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        print(f"Rows.Row, df {df_count}r, row {row}\n")
                        print("RECURSION")
                        parse_json(row_data)
                    except:
                        continue