In [2]:
import pandas as pd
import json

with open("ProfitAndLoss.json") as f:
    rawdata = json.load(f)

In [ ]:
type(pd.json_normalize(rawdata))

In [ ]:
type(child_2_0_h['value'])

In [ ]:
type(child_2_0_h.iloc[0])

In [ ]:
def check_col(data):
    """
    Find the data.
    """
    global child_count
    if isinstance(data, pandas.core.frame.DataFrame): # check if already normalized to df
        if 'type' in data and data['type'] == 'data': # will always be coldata, always df 
            # iterate through rows
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['ColData'][row])
                    acc_name = row_norm['value'][0]
                    acc_id   = row_norm['id'][0]
                    acc_val  = row_norm['value'][1]
                    
                    ##### add all of these to df, list, dict??
                    
                except:
                    continue
        elif 'Header.ColData' in data:
            for row in data.shape[0]:
                try:
                    row_norm = pd.json_normalize(data['Header.ColData'][row])
                except:
                    continue
                # if it is just one row with account name
                else:
                    if isinstance (row_norm, pandas.core.series.Series) and row_norm['id'] != 'NaN': 
                        acc_name = row_norm['value']
                        acc_id   = row_norm['id']
                        # add row_norm['value'] to df, list, dict?
                        # add row_norm['id'] to df, list, dict?
                    # it if is just one row with account value
                    elif instance(row_norm, pandas.core.series.Series):
                        acc_val  = row_norm['value']
                        # add row_norm['value'] to df, list, dict?
                    else isinstance(row_norm, pandas.core.frame.DataFrame):

In [3]:
parent = pd.json_normalize(rawdata)
parent

,Header.Time,Header.ReportName,Header.DateMacro,Header.ReportBasis,Header.StartPeriod,Header.EndPeriod,Header.SummarizeColumnsBy,Header.Currency,Header.Option,Columns.Column,Rows.Row
0,2021-06-07T12:55:08-07:00,ProfitAndLoss,this fiscal year-to-date,Accrual,2020-07-01,2021-06-07,Total,USD,"[{'Name': 'AccountingStandard', 'Value': 'GAAP...","[{'ColTitle': '', 'ColType': 'Account', 'MetaD...","[{'Header': {'ColData': [{'value': 'Income'}, ..."

In [4]:
child_0 = pd.json_normalize(parent['Rows.Row'][0])
child_0

,type,group,Header.ColData,Rows.Row,Summary.ColData
0,Section,Income,"[{'value': 'Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '3000 Sunda...,"[{'value': 'Total Income'}, {'value': '6036637..."
1,Section,GrossProfit,NaN,NaN,"[{'value': 'Gross Profit'}, {'value': '6036637..."
2,Section,Expenses,"[{'value': 'Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '4010 Salar...,"[{'value': 'Total Expenses'}, {'value': '55455..."
3,Section,NetOperatingIncome,NaN,NaN,"[{'value': 'Net Operating Income'}, {'value': ..."
4,Section,OtherIncome,"[{'value': 'Other Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '5000 Insur...,"[{'value': 'Total Other Income'}, {'value': '7..."
5,Section,OtherExpenses,"[{'value': 'Other Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '6010 Share...,"[{'value': 'Total Other Expenses'}, {'value': ..."
6,Section,NetOtherIncome,NaN,NaN,"[{'value': 'Net Other Income'}, {'value': '-17..."
7,Section,NetIncome,NaN,NaN,"[{'value': 'Net Income'}, {'value': '473846.67'}]"

In [ ]:
child_1_1_h = pd.json_normalize(child_0['Header.ColData'][1])

In [ ]:
child_1_0_h = pd.json_normalize(child_0['Header.ColData'][0])

In [ ]:
child_1_0_h = pd.json_normalize(child_0['Header.ColData'][0])
child_1_0_h

In [ ]:
child_1_0_r = pd.json_normalize(child_0['Rows.Row'][0])
child_1_0_r

In [ ]:
child_2_1_c = pd.json_normalize(child_1_0_r['ColData'][1])
child_2_1_c

In [ ]:
child_2_0_h = pd.json_normalize(child_1_0_r['Header.ColData'][0])
print(child_2_0_h)
print(type(child_2_0_h))
print(type(child_2_0_h['value'][1]))

In [ ]:
child_1_0_r.shape

In [ ]:
print(child_2_0_h.iloc[0])
type(child_2_0_h.iloc[0])

In [ ]:
print(child_2_0_h.iloc[0]['value'])
type(child_2_0_h.iloc[0]['value'])

In [ ]:
row = child_2_0_h.iloc[0]

In [ ]:
row['value']

In [ ]:
type(row['value'])

In [ ]:
type(child_2_0_h.iloc[1]['value'])

if you find another level of nesting, just concat what you just did with a bigger list