In [25]:
import pandas as pd
import json

with open("ProfitAndLoss.json") as f:
    rawdata = json.load(f)

# Stepping through control flow of parse_json()

### Step 1
`>>> parse_json(rawdata)`

In [2]:
pd.json_normalize(rawdata)

,Header.Time,Header.ReportName,Header.DateMacro,Header.ReportBasis,Header.StartPeriod,Header.EndPeriod,Header.SummarizeColumnsBy,Header.Currency,Header.Option,Columns.Column,Rows.Row
0,2021-06-07T12:55:08-07:00,ProfitAndLoss,this fiscal year-to-date,Accrual,2020-07-01,2021-06-07,Total,USD,"[{'Name': 'AccountingStandard', 'Value': 'GAAP...","[{'ColTitle': '', 'ColType': 'Account', 'MetaD...","[{'Header': {'ColData': [{'value': 'Income'}, ..."

output: Pandas Data Frame  
control flow next:  
` data = pd.json_normalize(data) `  
` parse_json(data) `

In [3]:
data = pd.json_normalize(rawdata)

### Step 2

Passes `isinstance(data, dict)`, moves on to   
`elif instance(data, pandas.core.frame.DataFrame)` and returns true

enters the `for` loop, tries    
`pd.json_normalize(data['Rows.Row'][0])`

assigns `row_norm` to output:

In [4]:
pd.json_normalize(data['Rows.Row'][0])

,type,group,Header.ColData,Rows.Row,Summary.ColData
0,Section,Income,"[{'value': 'Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '3000 Sunda...,"[{'value': 'Total Income'}, {'value': '6036637..."
1,Section,GrossProfit,NaN,NaN,"[{'value': 'Gross Profit'}, {'value': '6036637..."
2,Section,Expenses,"[{'value': 'Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '4010 Salar...,"[{'value': 'Total Expenses'}, {'value': '55455..."
3,Section,NetOperatingIncome,NaN,NaN,"[{'value': 'Net Operating Income'}, {'value': ..."
4,Section,OtherIncome,"[{'value': 'Other Income'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '5000 Insur...,"[{'value': 'Total Other Income'}, {'value': '7..."
5,Section,OtherExpenses,"[{'value': 'Other Expenses'}, {'value': ''}]",[{'Header': {'ColData': [{'value': '6010 Share...,"[{'value': 'Total Other Expenses'}, {'value': ..."
6,Section,NetOtherIncome,NaN,NaN,"[{'value': 'Net Other Income'}, {'value': '-17..."
7,Section,NetIncome,NaN,NaN,"[{'value': 'Net Income'}, {'value': '473846.67'}]"

In [5]:
row_norm = pd.json_normalize(data['Rows.Row'][0])

Because there is a `'Rows.Row'` column in the resulting `row_norm` df, it calls itself again

### Step 3

`row_norm` is normalized again and stored as `row_norm`

**BUT** the function is still in the first iteration of the first loop (from step 2)... so it does a recursion, but the function call from step 2 is still open, with several iterations still left to do (the remainder of the rows in the Step 2 data frame that have unormalized stuff in the 'Rows.Row' column)

In [6]:
pd.json_normalize(row_norm['Rows.Row'][0])

,type,Header.ColData,Rows.Row,Summary.ColData,ColData
0,Section,[{'value': '3000 Sunday and Holy Day Collectio...,[{'Header': {'ColData': [{'value': '3011 Sunda...,[{'value': 'Total 3000 Sunday and Holy Day Col...,NaN
1,Data,NaN,NaN,NaN,"[{'value': '3020 Christmas Collection', 'id': ..."
2,Data,NaN,NaN,NaN,"[{'value': '3030 Easter Collection', 'id': '11..."
3,Section,"[{'value': '3040 Other Collections', 'id': '11...",[{'ColData': [{'value': '3042 Flowers Collecti...,"[{'value': 'Total 3040 Other Collections'}, {'...",NaN
4,Section,"[{'value': '3100 Tuition', 'id': '392'}, {'val...",[{'ColData': [{'value': '3101 Tuition - Curren...,"[{'value': 'Total 3100 Tuition'}, {'value': '3...",NaN
5,Section,"[{'value': '3110 Fees', 'id': '28'}, {'value':...",[{'ColData': [{'value': '3111 Registration Fee...,"[{'value': 'Total 3110 Fees'}, {'value': '4753...",NaN
6,Section,"[{'value': '3300 Food Services', 'id': '36'}, ...",[{'ColData': [{'value': '3301 School Meal Prog...,"[{'value': 'Total 3300 Food Services'}, {'valu...",NaN
7,Section,"[{'value': '3350 Lease and/or Rental Income', ...","[{'ColData': [{'value': '3351 Facility Lease',...",[{'value': 'Total 3350 Lease and/or Rental Inc...,NaN
8,Section,"[{'value': '3400 Outside Funding Sources', 'id...",[{'Header': {'ColData': [{'value': '3407 Other...,[{'value': 'Total 3400 Outside Funding Sources...,NaN
9,Section,"[{'value': '3450 Fund Raising Net Income', 'id...",[{'Header': {'ColData': [{'value': '3461 St. J...,[{'value': 'Total 3450 Fund Raising Net Income...,NaN
10,Section,[{'value': '3500 Interest & Investment Income'...,[{'ColData': [{'value': '3501 Interest-Arch Re...,[{'value': 'Total 3500 Interest & Investment I...,NaN
11,Section,"[{'value': '3600 Auxiliary Groups', 'id': '149...",[{'Header': {'ColData': [{'value': '3603 St Fr...,"[{'value': 'Total 3600 Auxiliary Groups'}, {'v...",NaN
12,Section,"[{'value': '3700 Miscellaneous Income', 'id': ...",[{'Header': {'ColData': [{'value': '3701 Stole...,"[{'value': 'Total 3700 Miscellaneous Income'},...",NaN

In [7]:
row_norm = pd.json_normalize(row_norm['Rows.Row'][0])

### Step 4
the same thing happens as step 3

In [8]:
pd.json_normalize(row_norm['Rows.Row'][0])

,type,Header.ColData,Rows.Row,Summary.ColData
0,Section,"[{'value': '3011 Sunday Collection', 'id': '10...",[{'ColData': [{'value': '3012 Sunday Collectio...,"[{'value': 'Total 3011 Sunday Collection'}, {'..."
1,Section,"[{'value': '3015 Holy Day Collection', 'id': '...",[{'ColData': [{'value': '3016 Holy Day Collect...,"[{'value': 'Total 3015 Holy Day Collection'}, ..."

one more step to the deepest nest (for this initial row, i.e. row 0 of the data frame in Step 2)

In [9]:
row_norm = pd.json_normalize(row_norm['Rows.Row'][0])

### Step 5

In [10]:
pd.json_normalize(row_norm['Rows.Row'][0])

,ColData,type,Header.ColData,Rows.Row,Summary.ColData
0,"[{'value': '3012 Sunday Collection Envelopes',...",Data,NaN,NaN,NaN
1,NaN,Section,[{'value': '3013 Sunday Collection Loose Ck/Ca...,[{'ColData': [{'value': '3013.1 Counting Error...,[{'value': 'Total 3013 Sunday Collection Loose...
2,"[{'value': '3014 Sunday Collections E-Giving',...",Data,NaN,NaN,NaN

In [11]:
row_norm = pd.json_normalize(row_norm['Rows.Row'][0])

Now is where it gets interesting:   
the control flow says   
`try:  
row_norm = pd.json_normalize(row_norm['Rows.Row'][0])  
if 'Rows.Row in row_norm:  
       parse_json(row_norm)`

so that would mean that here, even though there is a `NaN` where the first pd.normalize would happen, it still normalizes again. let's see what happens:

### Step 6
starting at the beginning of the function, it passes through the first block, then the second, where it enters the loop, and starts with row 0, where it tries to normalize

In [12]:
pd.json_normalize(row_norm['Rows.Row'][0])

TypeError: 'float' object is not iterable

*Oh hello* it returns a `TypeError`. hmmmmmmmm

So the `except:` statement has to be in the loop, which it is. The code has   
`except:  
   continue`

the code will add one to the `row` iterator, and try to iterate the second row

### Step 7

In [13]:
pd.json_normalize(row_norm['Rows.Row'][1])

                                             ColData  type
0  [{'value': '3013.1 Counting Error', 'id': '692...  Data

In [14]:
row_norm = pd.json_normalize(row_norm['Rows.Row'][1])

I didn't expect this. There is a ColData column and a Type column, so this will have to be normalize again. But as the code is now, there is nothing to tell it to do something.

In [ ]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pandas.core.frame.DataFrame):
        for row in data.shape[0]:
            try:
                row_norm = pd.json_normalize(data['Rows.Row'][row])
                if 'Rows.Row' in row_norm:
                    parse_json(row_norm)
                    # SEE! THERE IS NOTHING HERE
            except:
                continue

Lets add something to fix that

I think I should actually change the order and get rid of the try statement...
but then how would we deal with parsing the NaN? do the try/except inside the if?

In [ ]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pandas.core.frame.DataFrame):
        for row in data.shape[0]:
                if 'Rows.Row' in row_norm:
                    try:
                        row_norm = pd.json_normalize(data['Rows.Row'][row])
                        parse_json(row_norm)
                    except:
                        continue
                elif 'ColData' in row_norm:
                    try:
                        row_norm = pd.json_normalize(data['ColData'][row])

So i switched the order, now the try/except is inside the if. for right now, let's see what normalizing this ColData df gets us.

### Step 8
normalize on key `'ColData'`

In [15]:
pd.json_normalize(row_norm['ColData'][0])

                   value   id
0  3013.1 Counting Error  692
1                 452.45  NaN

Now we have gotten to a place where we can't normalize anymore. we have a data frame whose data we want to save

So now what? what next...
we want these **(the base cases)** to be handled in a special way

In [17]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pandas.core.frame.DataFrame):
        for row in data.shape[0]:
                if 'Rows.Row' in row_norm:
                    try:
                        row_norm = pd.json_normalize(data['Rows.Row'][row])
                        parse_json(row_norm)
                    except:
                        continue
                elif 'ColData' in row_norm:
                    try:
                        row_norm = pd.json_normalize(data['ColData'][row])
                        # HERE
                        acc_name = row_norm['value'][0]
                        acc_id   = row_norm['id'][0]
                        acc_val  = row_norm['value'][1]
                    except:
                        pass

**But how do we**  
1. move in and out of the data frames? What causes the code to go back up a level to a previous parent data frame? and..
2. store the data once we find it?

### Step 8 (Digression)    
what if we use specifically named variables corresponding to the record path used for the normalization? (i.e. rows_data is `normalize(data['Rows.Row'][row])` and header_data is `normalize(data['Header.ColData][row])` etc.)

*as an fyi to myself, the reason i have the `try/except` statements in the code is to deal with the `NaN` values in the data frames. you could normalize on an existing column, but their might not be any data in the corresponding row*

In [41]:
def parse_json(data):
    if isinstance(data, dict):
        data = pd.json_normalize(data)
        parse_json(data)
    elif isinstance(data, pd.core.frame.DataFrame):
        # print(data.shape[0])
        for row in range(data.shape[0]):
                if 'Rows.Row' in data:
                    try:
                        row_data = pd.json_normalize(data['Rows.Row'][row])
                        parse_json(row_data)
                    except:
                        continue
                elif 'ColData' in data:
                    try:
                        col_data = pd.json_normalize(data['ColData'][row])
                        # HERE
                        acc_name = col_data['value'][0] # local variable
                        acc_id   = col_data['id'][0]
                        acc_val  = col_data['value'][1]
                        print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue
                elif 'Header.ColData' in data:
                    try:
                        head_data = pd.json_normalize(data['Header.ColData'][row])
                        if isinstance(head_data, pd.core.frame.DataFrame) and 'id' not in head_data:
                            continue
                        elif isinstance(head_data, pd.core.frame.DataFrame): 
                            acc_name = head_data['value'][0]
                            acc_id   = head_data['id'][0]
                            acc_val  = head_data['value'][1]
                            print(f"{acc_name}, {acc_id}, {acc_val}")
                    except:
                        continue

### Let's run the actual code

In [43]:
parse_json(rawdata)

3013.1 Counting Error, 692, 452.45
3016 Holy Day Collection Envelopes, 281, 5408.00
3017 Holy Day Collect. Loose Ck/Cash, 280, 568.00
3042 Flowers Collection, 558, 1173.00
3043 School Support Collection, 282, 140.00
3045 Almsgiving, 369, 5828.00
3101 Tuition - Current, 698, 3014281.05
3102 Tuition - Prior, 648, 30883.00
3125A 3rd Party Rev., 658, 216.00
3125B 3rd Party Exp, 612, 5440.00
3301 School Meal Program, 37, 413.00
3351 Facility Lease, 595, 45900.00
3352 Facility Rental, 630, 200.00
3407.01 Tax Credit Scholarship, 358, 65526.50
3461.03 SJS Annual Fund Drive, 678, 1515.00
3462.01 SFXS Annual School Appeal, 650, 2000.00
3501 Interest-Arch Regular Savings, 41, 1646.24
3502 Interest-Arch Cert of Deposit, 42, 671.46
3503 Interest-Arch Building Fund, 43, 2146.75
3504 Invest. Gains/Losses Arch Endow, 44, 548814.09
3505 Invest. Gains/Loss Arch Spc Inv, 147, 23768.66
3506 Interest-Checking Accounts, 148, 46.03
3507 Other Interest Account, 45, 212.75
3603.02 SFX Men's Club, 460, 23300.38
3603.10 SFXS Home School Organization, 464, 61270.00
3701.10 Baptism, 263, 2310.00
3701.20 Funeral, 508, 17075.00
3701.30 Wedding, 509, 14355.00
4011 Priests, 638, 95672.51
4012 Extra Priests, 576, 2998.50
4014 Professional Staff, 672, 254442.99
4015 Admin Support Staff - Church, 397, 260213.91
4016 House Staff, 580, 18738.50
4017 Maintenance - Church, 396, 99515.51
4511 Administrators & Othr Schl Prof, 639, 187866.32
4512 Religious Teachers, 577, 6366.45
4513 Lay Teachers, 690, 978663.38
4514 Special Program Teachers, 578, 500598.51
4515 Instructional Aides, 640, 293617.53
4516 Substitute Teachers, 579, 67765.46
4517 Support Staff - School, 673, 206864.71
4518 Maintenance Staff - School, 641, 101043.27
4052 Fringe Benefits - Lay, 186, 82431.62
4061 Professional Growth, 189, 14202.86
4062 Ministerial Expense Allowance, 568, 1247.50
4063 Unemployment Compensation, 581, 8967.00
4102 Offertory Supplies, 169, 480.23
4103 Books and Magazines, 170, 4362.62
4105 Textbooks, 561, 19909.81
4106 Workbooks, 688, 22371.51
4107 Library Materials, 562, 1778.29
4109 Instructional Materials, 563, 58384.85
4110 Instructional Software, 187, 18647.84
4151 Ofc Equipment-Supplies & Maint., 47, 14325.78
4152 Outside Printing Cost, 48, 20296.63
4153 Postage/Courier Services, 49, 4745.59
4154 Office Supplies, 50, 9787.12
4155 Professional Service Fees, 51, 138121.38
4156 Computer Supplies, 185, 25801.46
4157 Criminal Background Checks, 52, 1801.23
4158 Bank Fees, 386, 38553.67
4159 Other Administrative Expense, 420, 73.50
4201 Local Travel/Reimbursement, 162, 60.89
4252 Food/Groceries, 56, 14456.82
4253 Meal Allowance, 57, 3906.06
4254 Catering, 58, 968.71
4431 Water/Sewer, 63, 17200.07
4432 Scavenger Service, 64, 8210.37
4433 Cable/Dish Services, 65, 3547.77
4434 Internet/Computer Telecom Costs, 66, 7303.98
4451 Security, 68, 24729.00
4452 Ground Services, 69, 64338.89
4453 Ground Supplies, 70, 1699.18
4454 Building Services, 71, 45461.95
4455 Repairs to Buildings, 115, 86243.24
4456 Equipment Services, 116, 14684.21
4457 Equipment Rental, 117, -182.18
4459 Janitorial Supplies, 118, 30597.21
4555 Bingo Hall Rental, 372, 900.00
4601 Interest Expense Oper. Loans, 378, 4768.60
4651 Hosts and Wine, 121, 960.49
4653 Candles, 123, 1786.10
4656 Music Books, 126, 464.49
4657 Liturgical Publications, 129, 1465.58
4659 Flowers, 130, 3283.85
4660 Other Liturgical Costs, 127, 1317.72
4701 Admin Furnishings/Equip, 132, 27765.58
4702 Instructional Furnishings/Equip, 133, 189206.17
4703 Maintenance Furnishings/Equip, 134, 4633.76
4751 Archhdiocesean Assesment, 253, 177788.16
4752 Lease, Lic & Rental Arch Assess, 254, 4171.50
4820A Credit Card Expense - Needs Det, 361, -5838.83
5001 Casualty Claims, 220, 9560.00
5011.1 St. VIncent de Paul, 516, 45309.00
5012.02 St. Ignatius, 424, 14002.00
5013.01 St. Thomas of Canterbury, 421, 46138.00
5016C IC Secial Fundraising, 547, 40000.00
5031 Latin America, 81, 1401.00
5032 Seminaries, 87, 3035.00
5033 Annual Catholic Appeal, 82, -1132.00
5034 Holy Land, 83, 120.00
5035 Aid Churches Centl/East Europe, 86, 1785.00
5036 Catholic Charities, 84, 2060.00
5037 Peter's Pence, 85, 755.00
5039 World Mission Sunday, 88, 2148.00
5040 Cath Campaign for Human Develop, 89, 5240.00
5041 Religious Retirement, 90, 5066.00
5042 Missionary CO-OP Plan, 218, 940.00
5044 Archdiocesan Priest Retirement, 297, 3060.00
5052 Bequests Proceeds, 204, 20000.00
5053 Memorial Proceeds, 205, 2070.00
5061 Other Extraordinary Collections, 207, 255.00
5065 Other Extraordinary Income, 427, 201413.98
5115.01 St Joseph TTWCI Campaign, 430, 17044.50
5115.02 St Francis Xavier TTWCI Campagn, 431, 107071.91
5122 Church Building Fund, 77, 206170.63
6011.01 St. Vincent de Paul, 517, 48253.00
6012.02 St. Ignatius, 702, 500.00
6013.01 St. Thomas of Canterbury, 616, 57767.50
6016A IC Normal School Support, 542, 23509.93
6016B IC Special School Support, 543, 57035.00
6016C IC Parish Support, 544, 4060.00
6016D IT Superintendent Support, 545, 3000.00
6016E Scholorships, 555, 14306.00
6031 Latin America, 172, 485.00
6032 Seminaries, 178, 2945.00
6034 Holy Land, 174, 1245.00
6035 Aid Churches Centl/East Europe, 177, 6072.00
6036 Catholic Charities, 175, 4671.52
6037 Peter's Pence, 176, 3143.00
6039 World Mission Sunday, 179, 2218.00
6040 Cath Campaign for Human Develop, 180, 4665.00
6041 Religious Retirement, 181, 1863.42
6044 Archdiocesan Priest Retirement, 296, 7160.00
6061 Real Estate Taxes, 193, 6098.01
6063 Other Extraordinary Expenses, 637, 352688.99
6064 Prior Year Adjustments, 309, -107155.37
6112.01 SJ Church Sound System Upgrade, 661, 957.81
6112.02 Church Lighting Project, 594, 21425.40
6112.06 School Security, 627, 33304.30
6112.07 SJ Parking lot project, 628, 8329.89
6112.08 Church Masonry, 629, 9270.00
6113.02 SFX Church Improvements, 512, 168418.05
6113.03 SFX Church Carpet, 515, 50000.00
6113.04 SFX Parking lot project, 554, 4356.66
6113.05 Church Masonry, 557, 6590.00

In [33]:
type(rawdata)

dict

Oh my stars! It actually does something right! It's not all the data though... let's figure out what it got and what it missed.

<span style="color:blue">*(another note: the code did exactly what I thought it would do based on stepping through it up above. so that's a partial win!)*</span>

So what it does is  
- it keeps normalizing when it finds a rows.row in a data frame, and will only print out the column data when it has reach the last Rows.Row. Which makse sense from the code
- also, it doesn't seem to go "back up to the top?"  to then do it again? I'll try to show what I mean.

### Troubleshooting

What do we want it to do? Do we want it to:
- go down the rabbit hole first, then come back out, then go down a different rabbit hole?
- or just get everything as we go deeper and deeper?